<!-- Project Grid Section -->
    <section id="apps" class="bg-light-gray">
        <div class="container">

            <!-- APP PROJECTS -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="{{ site.baseurl }}/apps">
                        <h2 class="section-heading text-center">Smartphone Apps</h2>
                    </a>
                    <h3 class="section-subheading text-muted">
                        Our apps provide a convenient way of extending therapies from the clinic
                        to the home in an engaging way.  See a few examples below of apps
                        currently under development.
                    </h3>
                </div>
            </div>
            <div class="row">
                {% for post in site.categories.app %}
                {% for old-modal-id in post.old-modal-ids %}

                  <a href="{{ site.baseurl }}/{{ post.modal-id }}" id="{{ old-modal-id }}" class="old-modal" data-toggle="modal"></a>

                {% endfor %}
                <div class="col-md-4 col-sm-6 project-item">
                    <a href="{{ site.baseurl }}/{{ post.modal-id }}" id="{{ post.modal-id }}-app" class="project-link" data-toggle="modal">
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/img/projects/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                    </a>
                    <div class="project-caption">
                        <a href="{{ site.baseurl }}/{{ post.modal-id }}" id="{{ post.modal-id }}-device" class="project-link" data-toggle="modal"><h4>{{ post.title }}</h4></a>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
