<div class="project-modal perma-content" id="{{ page.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content" style="padding:0">
    <a href="{{ site.url }}{{ site.baseurl }}">
      <div class="close-modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
    </a>
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body" style="margin-top:1ex">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <a href="{{ site.url }}{{ site.baseurl }}/{{- page.permalink -}}"><h2>{{- page.title -}}</h2>
                            <h4>{{- page.subtitle -}}</h4>
                          </a>
              <br/>
              {%- assign wordcount = page.content | number_of_words %}
              {%- if page.excluded-words -%}
                {%- assign wordcount = wordcount | minus: page.excluded-words -%}
              {%- endif -%}
              {%- assign readtime = wordcount | divided_by: 265 -%}
              <h5>Estimated read time: {% if readtime > 1 %}
                {{ readtime }}
                  {% else %}
                less than 2
                {% endif %} minutes
              </h5>
              <hr>
              <div class="row">
                <center>
                  <div class=lass="flexBox" style="display:flex;flex-flow:row wrap;justify-content:center;">
                    {%- for people in page.people -%} {%- for person in site.categories.person -%} {%- if person.modal-id == people -%}
                    <div class="col-xs-4 glyphs" style="width:45px;padding:0;">
                      <a href="{{ site.url }}{{ site.baseurl }}{{ person.permalink }}">
                                      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/people/{{- person.thumbnail -}}" alt="{{- person.name -}}" title="{{- person.name -}}"/>
                                    </a>
                    </div>
                    {%- endif -%} {%- endfor -%} {%- endfor -%} {% assign cats = "device, app, informatics, voice, presentations, blog" | split: ", " %} {%- for category in cats -%} {%- assign allposts = site.categories.project | concat: site.categories.blog | concat: site.categories.presentations
                    -%} {%- for project in allposts -%} {%- for update_project in page.projects -%} {%- if (update_project == project.modal-id) and (project.categories contains category) -%}
                    <div class="col-xs-4 glyphs" style="width:45px;padding:0;">
                      <a href="{{ site.url }}{{ site.baseurl }}{{ project.permalink }}">
                                          {%- if project.glyph -%}
                                            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/glyphs/{{- project.glyph -}}" alt="{{- project.title -}}" title="{{- project.title -}}"/>
                                          {%- else -%}
                                            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/projects/{{- project.thumbnail -}}" alt="{{- project.title -}}" title="{{- project.title -}}"/>
                                          {%- endif -%}
                                        </a>
                    </div>
                    {%- endif -%} {%- endfor -%} {%- endfor -%} {%- endfor -%}
                  </div>
                </center>
              </div>
              {%- if page.additional-people -%}
              <div class="row">
                <center>
                  <div class="flexBox" style="display:flex;flex-flow:row wrap;justify-content:center;padding:1em;margin-right:13px;">
                    with contributions from
                  </div>
                </center>
              </div>
              <div class="row">
                <center>
                  <div class="flexBox" style="display:flex;flex-flow:row wrap;justify-content:center;">
                    {%- for people in page.additional-people -%} {%- assign nopage = true -%} {%- for person in site.categories.person -%} {%- if person.modal-id == people -%} {%- assign nopage = false -%}
                    <div class="col-xs-4 glyphs" style="width:45px;padding:0;">
                      <a href="{{ site.url }}{{ site.baseurl }}{{ person.permalink }}">
                                      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/people/{{- person.thumbnail -}}" alt="{{- person.name -}}" title="{{- person.name -}}" />
                                    </a>
                    </div>
                    {%- endif -%} {%- endfor -%} {%- if nopage == true -%} {%- if nopagepeople == true -%} {%- assign nopagepeople = people | split: ' ' -%} {%- else -%} {%- assign nopageperson = people | split: ' ' -%} {%- assign nopagepeople = nopagepeople | concat: nopageperson
                    -%} {%- endif -%} {%- endif -%} {%- endfor -%} {%- for person in nopagepeople -%}
                    <div class="col-xs-4 glyphs" style="width:45px;padding:0;">
                      {% assign person_name = person | split: '-' %}
                      {% capture cased_name %}{% for word in person_name %}{% if word contains "mc" %}{{ word | replace: "mc", "" | capitalize | prepend: "Mc" }} {% else %}{{ word | capitalize }} {% endif %}{% endfor %}{% endcapture %}
                      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/people/ada-thumbnail.jpg" alt="{{- cased_name | strip -}}" title="{{- cased_name | strip -}}" />
                    </div>
                    {%- endfor -%}
                  </div>
                </center>
              </div>
              {%- endif -%}
              <div class="row">
                {%- if page.img -%}
                <hr class="star-primary"> {% if page.img-link %}
                <a href="{{ page.img-link }}" target="_blank">
                {% endif %}
                            {% if page.vid %}
                            <video id="{{ page.modal-id }}-vid" class="img-responsive img-centered" alt="{{ page.alt }}" autoplay="autoplay">
                              <source src="{{ site.url }}{{ site.baseurl }}/assets/vid/projects/{{ page.vid }}.webm" type="video/webm"></source>
                              <source src="{{ site.url }}{{ site.baseurl }}/assets/vid/projects/{{ page.vid }}.mp4" type="video/mp4"></source>
                              <source src="{{ site.url }}{{ site.baseurl }}/assets/vid/projects/{{ page.vid }}.ogv" type="video/ogv"></source>
                            </video>
                            {% else %}
                            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/projects/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                            {% endif %}
                            {% if page.img-link %}
                            </a> {% endif %} {%- endif -%}
                {% if page.img-caption %}
                <p>{{ page.img-caption }}</p>
                {% endif %}
                {% if page.description %}
                {{ page.description }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <hr> {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
