  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="contact-info">Contact: matterlab@childmind.org</span>
                </div>
                <div class="col-md-4">
                    <span class="copyright"> &copy; <a  href="https://www.childmind.org">Child Mind Institute</a> MATTER Lab {{ 'now' | date: "%Y" }}</span>
                </div>
                <!--div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div-->
                <!--div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div-->
            </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127993383-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-127993383-1');
		</script>

    </footer>
