<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-banner__title page-scroll" href="https://www.childmind.org"><img class="head-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo/CMI_spot_h_logo.svg"></a> <!--cmi-logo-horz-ko.svg"></a-->
            <!--a class="page-banner__title page-scroll" href="#page-top"><span class="sans-title">MATTER</span><span class="italics-title">&nbsp;Lab</span></a-->
            <a class="page-banner__title page-scroll" href="{{ site.url }}{{ site.baseurl }}"><img class="matter-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo/MATTER-Lab-mixed-logo-logogram-on-transparent-background.svg"></a>
       </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#devices">Devices</a>
                </li>
                <li>
                    <a class="page-scroll" href="#apps">Apps</a>
                </li>
                <li>
                    <a class="page-scroll" href="#informatics">Informatics</a>
                </li>
                <li>
                    <a class="page-scroll" href="#voice">Voice</a>
                </li>
                <li>
                    <a class="page-scroll" href="#people">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.url }}{{ site.baseurl }}/blog">Blog</a>
                </li>
                <li>
                    <a class="donate-nav" href="https://childmind.org/get-involved/give/matter/" target="_blank">Donate</a>
                </li>
                <!--li>
                    <a class="cmi-logo" href="https://www.childmind.org"><img class="head-logo" src="{{ site.url }}{{ site.baseurl }}/assets/logo/CMI_spot_h_logo.svg"></a>
                </li-->
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
        <!-- /.container-fluid -->
</nav>
