<!-- People Section -->
<section id="people" class="bg-light-gray">
    <div class="container">

        <!-- PEOPLE -->
        <div class="row">
            <div class="col-lg-12 text-center">
              <a href="{{ site.baseurl }}/people">
                <h2 class="section-heading text-center">The Team</h2>
              </a>
                <h3 class="section-subheading text-muted">
                    Our lab is a small but unstoppable team.
                    We work with clinicians as well as other researchers to ensure
                    that what we build has the greatest potential for helping people improve
                    their mental health, either at the Child Mind Institute or anywhere
                    in the world.
                </h3>
            </div>
        </div>
        <div class="row">
            {% for post in site.categories.team %}
            <div class="col-md-4 col-sm-6 project-item person">
                <a href="{{ site.baseurl }}/{{ post.modal-id }}" id="{{ post.modal-id }}-team" class="project-link" data-toggle="modal">
                    <img src="assets/img/people/{{ post.thumbnail }}" class="img-responsive img-centered img-circle" alt="" style="max-width:225px">
                </a>
                <div class="project-caption text-center" style="background-color:transparent;">
                    <h4>{{ post.name }}</h4>
                    <p class="text-muted">{{ post.position }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
