<!-- Project Grid Section -->
    <section id="projects" class="bg-light-gray">
        <div class="container">

            <div class="row">
                 <div class="col-md-6 col-lg-6 text-center">
                    <iframe width="360" height="270" src="https://www.youtube.com/embed/6P4SbSQQoZ8" controls="0" modestbranding="1" rel="0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 col-lg-6 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">
                        We build technologies such as wearable devices, smartphone apps,
                        and informatics and voice analysis tools that help diagnose,
                        assess, monitor, and improve mental health.
                        Please click on any of the projects below to learn more.
                    </h3>
                </div>
            </div>
        </div>
    </section>
