<!-- Project Grid Section -->
    <section id="research-intro" class="bg-light-gray" style="margin-bottom:-70px;">
        <div class="container">

            <!-- RESEARCH -->
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <h2 class="section-heading text-center">Research</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 0px; padding-bottom:0px;">
                        We build technologies such as wearable devices, smartphone apps,
                        and informatics and voice analysis tools to help diagnose,
                        assess, monitor, and improve mental health.
                    </h3>
                </div>
                <div class="col-md-4 col-lg-4 text-center youtube-wrapper">
                <!--    <div class="temp-youtube-thumbnail"></div> -->
                </div>
                <div class="col-md-4 col-lg-4">
                    <h3 class="section-subheading col-md-offset-1 col-lg-offset-1 text-muted" style="margin-bottom: 0px; padding-bottom:0px;">
                        We are a research lab within the Child Mind Institute
                        and work with clinicians and patients who inspire and
                        guide the development of our technologies.
                        Please click on any of the projects below to learn more.
                    </h3>
                </div>
            </div>
        </div>
    </section>
