<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include slideshow.html %}
    {% include research.html %}
    {% include projects-head.html %}
    {% include devices_frontpage.html %}
    {% include apps_frontpage.html %}
    {% include informatics_frontpage.html %}
    {% include voice_frontpage.html %}
    {% include projects-foot.html %}
    {% include people.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
