

    @font-face {
        font-family: Skolar-Regular;
        src: url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Regular.eot);
        src: url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Regular.eot?#iefix) format("embedded-opentype"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Regular.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Regular.woff) format("woff"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Regular.ttf) format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: Skolar-Italic;
        src: url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Italic.eot);
        src: url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Italic.eot?#iefix) format("embedded-opentype"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Italic.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Italic.woff) format("woff"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Italic.ttf) format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: Skolar-Bold;
        src: url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Bold.eot);
        src: url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Bold.eot?#iefix) format("embedded-opentype"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Bold.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Bold.woff) format("woff"), url({{ site.baseurl }}/assets/fonts/SkolarLatinWeb-Bold.ttf) format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: Skolar-Sans-Regular;
        src: url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Rg.eot);
        src: url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Rg.eot?#iefix) format("embedded-opentype"), url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Rg.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Rg.woff) format("woff"), url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Rg.ttf) format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: Skolar-Sans-Semibold;
        src: url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Sb.eot);
        src: url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Sb.eot?#iefix) format("embedded-opentype"), url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Sb.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Sb.woff) format("woff"), url({{ site.baseurl }}/assets/fonts/SkolarSansLatnWeb-Sb.ttf) format("truetype");
        font-weight: 400;
        font-style: normal;
    }


body {
    font-family: Skolar-Regular, Georgia, Cambria, "Times New Roman", Times, serif;
}
/*!
 * Custom CSS for Child Minds MATTER Lab
*/

.navbar {
    background-color: white; /* #006094;
    background: url('{{ site.baseurl }}/assets/img/cmi_nav_background.png') center repeat-x; */
    background-size: auto 100%;
    margin-bottom: 0px;
}

.youtube-wrapper div.temp-youtube-thumbnail{
  height: 240px;
  width: 320px;
  background: url('{{ site.baseurl }}/assets/img/arno-youtube-thumbnail.jpg') center repeat-x;
  background-size: auto 100%;
}

.carousel-control {
    width: 10%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top: -50%;
    top: 0;
}

.glyphicon-chevron-left:before {
    content: "‹";
    font-size: 425%;
}
.glyphicon-chevron-right:before {
    content: "›";
    font-size: 425%;

}
.carousel-indicators .active {
    background-color: #7a807c;
}
.carousel-indicators li {
    border: 1px solid #7a807c;
}
.carousel-inner{
    max-width: 940px;
    margin: auto;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: 600px;
}

.modal-body {
    text-align: left;
}
div.modal-body>ol {
    list-style: decimal;
}
div.modal-body>ul {
    list-style: disc;
}
ul>li.folder_li {
    list-style-image: url(assets/img/glyphs/folder_li.png);
    cursor: pointer;
}
ul>li.item_li {
    list-style-image: url(assets/img/glyphs/folder_li.png);
    cursor: pointer;
}
header {
    background-image: none;
    background: none;
}
header .intro-text {
    position: absolute;
    z-index: 3;
    text-align: left;
}

.no-space-above-below, .project-modal .modal-content p.no-space-above-below{
    margin-bottom: 0px;
    line-height: 1.25;
}

#slideshow{
    margin-bottom: 25px;
}

.carousel-inner .item, .slideshow-intro-text{
    max-width: 940px;
    margin: auto;
}

.carousel-inner .item img,
.carousel-inner .item a img {
    height: auto;
}

.slideshow-intro-text{
    padding-left: 20px;
    position: absolute;
    padding-top: 0px;
    text-align: left;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.github-container {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 1ex;
}

.github-name {
  font-weight: bold;
  color: black;
  padding: 1ex;
  text-align: left;
}

.glyphs {
  text-align: left;
  border-radius: 15px;
  padding: 2px;
  margin: 3px;
}

.glyphs img, .project-modal .modal-content .glyphs img {
  width: 32px;
  margin: 0;
}

.glyphs.inline img, .project-modal .modal-content .glyphs.inline img {
  width: auto;
}

.glyphs h6 {
  margin: 0;
}

.large-glyphs img, .project-modal .modal-content .large-glyphs img {
  background-color: #e4e4e4;
  border-radius: 28px;
  width: 48px;
  margin: 0;
}

.vertical-scroll {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.questionnaire_preview {
  background-color: #e4e4e4;
  border-left: black solid 1px;
  border-right: black solid 1px;
}

.questionnaire_preview_container {
  flex-direction: column;
}

.questionnaire_preview_first {
  border-top: black solid 1px;
  border-radius: 10px 10px 0 0 ;
}

.questionnaire_preview_last {
  border-bottom: black solid 1px;
  border-radius: 0 0 10px 10px;
}

.questionnaire_preview_row {
  display: flex;
}

.Mindlogger-source-table, .Mindlogger-source-table td, .Mindlogger-source-table tr {
  border: 1px solid black;
  padding: 3px;
}

.Mindlogger-source-table th {
  border: 1px solid black;
  border-bottom: 3px double black;
  text-align: center;
}

.navbar .page-banner__title {
    font-family: Skolar-Bold, Helvetica, Roboto, Arial, sans-serif;
    font-size: 40px;
    color: #0067a0; /* white; @rno */
}
.navbar .page-banner__title:hover,
.navbar .page-banner__title span:hover,
.navbar .page-banner__title:active,
.navbar .page-banner__title span:active,
.navbar .page-banner__title:visited,
.navbar .page-banner__title span:visited,
.navbar .page-banner__title:focus,
.navbar .page-banner__title span:focus {
    text-decoration: none;
}
.navbar .head-logo {
  height: 55px;
  padding: 12px;
  margin: 0px;
}
.navbar .matter-logo {
  height: 55px;
  padding: 12px;
  margin: 0px;
}
.navbar .sans-title {
    font-family: Skolar-Sans-Semibold, Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.6em;
}
.navbar .italics-title {
    font-family: Skolar-Italic, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.4em;
}
.navbar .sever-title {
    display:none;
}
.navbar .page-banner__title{
    /* margin-left: 2vh; */
    margin-left: 0px;
}

.navbar-default .nav li a {
    color: #0067a0;    /* @rno */
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #00c1d5;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #00c1d5;
}
header .container {
    margin-top: 70px;
}
.slideshow-intro-text{
    position: absolute;
    padding-top: 0px;
    text-align: center;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding-left: 5%;
    padding-right: 5%;
}

.slideshow-intro-text .intro-lead-in {
    text-decoration: none;
    font-size: 3.1rem;
    line-height: 3.7rem;
    font-family: Skolar-Regular, Helvetica, Roboto, Arial, sans-serif;
}
.slideshow-intro-text .intro-lead-in.child{
    margin-top: 11%;
}

.slideshow-intro-text .intro-lead-in.title-spell-out {
    font-size: 1.65rem;
    line-height: 2.1rem;
}

header .intro-text .intro-heading,
.slideshow-intro-text .intro-heading {
    font-family: Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
    line-height: 3rem;
}

.slideshow-intro-text .matter{
    font-size: 4.7rem;
    line-height: 5rem;
    font-weight: 600;
    font-family: Skolar-Sans-Semibold, Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
}


header .intro-text {
    display: none;

}

section {
    padding-top: 40px;
    padding-bottom: 0px;
}
#research-intro .row div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.slideshow-container .row div .intro-text div{
    text-align: center;
}
#research-intro{
    padding: 0px;
}
.carousel-indicators {
    bottom: -40px;
}

.carousel-inner .item-slide1{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide1_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.carousel-inner .item-slide2{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide2_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.carousel-inner .item-slide3{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide3_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.carousel-inner .item-slide4{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide4_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.carousel-inner .item-slide5{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide5_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.carousel-inner .item-slide6{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide6_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.carousel-inner .item-slide7{
    background: url('{{ site.baseurl }}/assets/img/slideshow/slide7_tall.jpg') center repeat-x;
    background-size: auto 100%;
}
.item a img{
    opacity: 0.5;
    width: 100%;
}
.item a img.short{
    display:none;
}
.item a img.tall{
    display:block;
}

footer span.contact-info {
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    text-align: right;
    line-height: 40px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

code.keystroke {
  color: #242a6a;
  background-color: #97e2ef;
}

pre.match-inline-code {
  color: #c7254e;
  background-color: #f9f2f4;
  border: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: normal;
}

.project-modal .modal-content h1, .modal-body > h1 {
  font-size: 2em;
  text-transform: none;
}

.project-modal .modal-content h2, .modal-body > h2 {
  font-size: 1.75em;
  text-transform: none;
}

.project-modal .modal-content h3, .modal-body > h3 {
  font-size: 1.25em;
  text-transform: none;
}

.project-modal .modal-content h4, .modal-body > h4 {
  font-size: 1.125em;
  text-transform: none;
}

.project-modal .modal-content h5, .modal-body > h5 {
  font-size: 1.0625em;
  text-transform: none;
}

.project-modal .modal-content h6, .modal-body > h6 {
  font-size: 1.03125em;
  text-transform: none;
}

section h3.section-subheading{
  font-size: 1.3em;
  line-height: 3rem;
  font-weight: 400;
}

.modal-center {
  text-align: center;
}

.intro-text {
  display: none !important;
}

.slide-tint {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 3;
}

.project-item.person{
    margin-bottom: 15px;
}

.modal-content img.email-image {
  max-width: 100%;
  margin-bottom: -0.2ex;
  padding-bottom: -0.2ex;
}

/* HTML5 Video */
.feature-video {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 100%;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-right: 1.5em;
  padding-bottom: 0.25ex;
  float: center;
  max-width: 45%;
}

.image-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-right: 1.5em;
  padding-bottom: 0.25ex;
  float: left;
  max-width: 45%;
}

.image-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-right: 1.5em;
  padding-bottom: 0.25ex;
  float: left;
  max-width: 45%;
}

.project-modal .modal-content {
  padding-top: 0px;
}

.project-modal .close-modal {
  position: absolute;
  z-index: 1051;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
}

.project-modal .close-modal:hover {
  opacity: .3;
}

.project-modal .close-modal .lr {
  z-index: 1052;
  width: 1px;
  height: 25px;
  margin-left: 10px;
  background-color: #222;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project-modal .close-modal .lr .rl {
  z-index: 1053;
  width: 1px;
  height: 25px;
  background-color: #222;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.project_pub_div {
  text-align: center;
}

.biblio_map_interactive {
  text-align: center;
  width: 100%;
}

.perma-content {
  margin-top: 60px;
}

.project-modal .modal-content video {
  margin-bottom: 30px;
}

.project-modal .modal-content .footnotes ol li p {
  margin-bottom: 0.5em;
}

:target {
  margin-top: -60px;
  padding-top: 60px;
  display: inline-block;
  width: 100%;
}

#page-top {
  padding-top: 30px;
  margin-top: -60px;
  display: block;
  width: 100%;
}

nav.navbar-default .navbar-collapse .navbar-nav li a.donate-nav{
  color: #eeae30;
}
nav.navbar-default .navbar-collapse .navbar-nav li a.donate-nav:hover{
  color: #f2cd32;
}


@media (min-width: 395px) {
  .slideshow-intro-text .intro-lead-in.child{
    margin-top: 15%;
  }
  .slideshow-intro-text .intro-lead-in.title-spell-out {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
  .slideshow-intro-text .intro-lead-in {
    font-size: 3.4rem;
    line-height: 4.3rem;
  }
  .slideshow-intro-text .intro-lead-in.matter{
    font-size: 4.8rem;
    line-height: 6rem;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar .sans-title {
    font-family: Skolar-Sans-Semibold, Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8em;
  }
  .navbar .italics-title {
      font-family: Skolar-Italic, Helvetica, Roboto, Arial, sans-serif;
      font-size: 0.6em;
  }
  .navbar .head-logo {
    height: 55px;
    padding: 8px;
    margin: 0px;
  }
  .navbar .matter-logo {
    height: 55px;
    padding: 8px;
    margin: 0px;
  }

}



  @media (min-width: 768px) {
    header .container {
        margin-top: 88px;
    }
    .carousel-inner .item-slide1{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide1_short.jpg') center repeat-x;
    }
    .carousel-inner .item-slide2{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide2_short.jpg') center repeat-x;
    }
    .carousel-inner .item-slide3{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide3_short.jpg') center repeat-x;
    }
    .carousel-inner .item-slide4{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide4_short.jpg') center repeat-x;
    }
    .carousel-inner .item-slide5{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide5_short.jpg') center repeat-x;
    }
    .carousel-inner .item-slide6{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide6_short.jpg') center repeat-x;
    }
    .carousel-inner .item-slide7{
        background: url('{{ site.baseurl }}/assets/img/slideshow/slide7_short.jpg') center repeat-x;
    }
    .carousel-inner .item{
      background-size: auto 100%;
    }

    .item a img.short{
        display:block;
    }
    .item a img.tall{
        display:none;
    }
    .slideshow-intro-text{
        padding-left: 20px;
        position: absolute;
        padding-top: 0px;
        text-align: left;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        max-width: 940px;
        margin: auto;
    }
    .slideshow-intro-text .matter{
        font-size: 4.8rem;
        line-height: 6rem;
        font-weight: 600;
        font-family: Skolar-Sans-Semibold, Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
    }
    nav.navbar .container{
      width: auto;
    }
    nav.navbar, .navbar-default.navbar-shrink {
        padding: 0px 0;
        background-color: white; /* #006094; @rno */
    }
    .navbar-nav li a {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #0067a0;  /* @rno */
    }
    #research-intro .row div {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .navbar-right {
        margin-top: 6px;
    }
    .navbar .page-banner__title {
        line-height: 1.4em;
    }

    .slideshow-container .row div .intro-text div{
        text-align: left;
    }

    header .intro-text .intro-heading,
    .slideshow-intro-text .intro-heading {
        font-family: Skolar-Sans-Regular, Helvetica, Roboto, Arial, sans-serif;
        line-height: 4.8rem;
    }

    header .intro-text .intro-lead-in,
    .slideshow-intro-text .intro-lead-in {
       /* font-size: 4.4rem; */
        text-decoration: none;
     /*   line-height: 6rem; */
        font-family: Skolar-Regular, Helvetica, Roboto, Arial, sans-serif;
    }


    .slideshow-intro-text .intro-lead-in.title-spell-out {
        font-size: 2.2rem;
            line-height: 2.9rem;
    }


    .slideshow-intro-text .intro-lead-in.child {
        margin-top: 15%;
    }

    section {
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .carousel-indicators {
        bottom: -40px;
    }
}

@media (min-width: 868px){
    .navbar .page-banner__title{
            margin-left: 0px;
    }

    .navbar .sever-title { display:inline-block; }
}

@media (min-width: 1000px){
    .slideshow-intro-text .intro-lead-in.title-spell-out {
        font-size: 2.2rem;
    }
    .slideshow-intro-text .intro-lead-in {
        text-decoration: none;
        font-size: 3.1rem;
    }
    .carousel-indicators {
        bottom: -40px;
    }
}


@media (min-width: 1200px) {
    #research-intro .container{
        max-width: 970px;
    }
    .slideshow-intro-text .intro-lead-in.child {
        margin-top: 20%;
    }
}

/* TEMPORARY HIDE DONATE AT TABLET WIDTH PENDING DONATE BUTTON SPECS */
@media screen and (max-width: 890px) and (min-width: 768px) {
    nav.navbar-default .navbar-collapse .navbar-nav li a.donate-nav {
        display: none;
    }
}
@media screen and (max-width: 890px) and (min-width: 768px) {
    nav.navbar-default .navbar-collapse .navbar-nav li a.cmi-logo {  /* @rno */
        display: none;
    }
}

@media (max-width: 960px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

nav.navbar-default .navbar-collapse .navbar-nav li a.cmi-logo{  /* @rno */
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
